apiVersion: v1
kind: ConfigMap
metadata:
  name: pi-web-config
data:
  default.conf: |
    server {
        listen 80;
        server_name _;

        root /usr/share/nginx/html;
        index index.html;

        # Force correct MIME types
        default_type text/html;

        # Serve Unity WebGL
        location / {
            try_files $uri $uri/ /index.html;
        }

        location /Build/ {
            default_type application/octet-stream;
            types {
                text/html html;
                application/javascript js;
                application/wasm wasm;
                application/octet-stream data;
            }
            try_files $uri $uri/ =404;
        }
    }
