apiVersion: v1
kind: Service
metadata:
  name: filebrowser-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: filebrowser
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
