name: Deploy Test Website

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: test

      - name: Apply Kubernetes manifest
        env:
          KUBECONFIG: /home/pi/.kube/config
        run: |
          kubectl apply -f k8s/nginx-test/deployment.yaml

