name: Deploy PROD Website

on:
  push:
    branches:
      - main

jobs:
  deploy-prod:
    runs-on: self-hosted

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Sync web files to prod directory
        run: |
          rsync -a --delete web/ /home/pi/Home-Lab/web/

      - name: Deploy prod pod
        run: |
          kubectl apply -f k8s/nginx/deployment.yaml
