name: Deploy TEST Website

on:
  push:
    branches:
      - test

jobs:
  deploy-test:
    runs-on: self-hosted

    steps:
      - name: Checkout test branch
        uses: actions/checkout@v4
        with:
          ref: test

      - name: Sync web files to test directory
        run: |
          rsync -a --delete web/ /home/pi/Home-Lab/web-test/

      - name: Deploy test pod
        run: |
          kubectl apply -f k8s/nginx-test/deployment.yaml
