name: Deploy Test Website

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy test nginx
        run: |
          kubectl apply -f k8s/nginx-test/deployment.yaml
